.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 12px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: none;
  }
}
.nav__setting {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -5px;
}

.find-dot {
  top: -5px;
  right: -5px;
}

@keyframes appearAnimation {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.nav__btn {
  animation: appearAnimation 2s ease-in-out forwards;
}
